<br>

<h1 style="font-family: 'BreeSerif-Regular', BreeSerif-Regular, sans-serif;
    font-size: 60px;
    background: #ffffff;
    font-weight: 300;
    color: #FD6156;">lonely? <br> meet a furry friend today.</h1>

<%= link_to(image_tag('sign_in.png', class: 'image-responsive', style: "width:150px;height:250"), '/renters/login',  :method => :get) %>

<%= link_to(image_tag('create_account.png', class: 'image-responsive', style: "width:150px;height:250"), '/renters/new_user',  :method => :get) %>

<%= image_tag("boxer.jpg", :alt => "rss feed", :class => "style_image") %>




