<br>
<h1>Discover all of our pets!</h1><br>
<br>

<% @pets.each do |pet| %>

<%= link_to image_tag(pet.picture, :alt => "rss feed", :class => "style_image") , pet_path(pet)%>


<%=link_to pet.name, pet_path(pet), :class => "style_link"%><br><br><br>
<% end %>

