<h1><br>Welcome <%=current_renter.name.capitalize%>!</h1>

<body>
<h2><%= link_to "browse all", allpets_path, style: 'width:220px; height:250; color:#FFFFFF; font-size: 30px; background-color:#FD6156; border-radius: 10px;border:0px; text-decoration: none; padding: 10px;' %><br>
<%= link_to "search by name", petslist_path, style: 'width:250px; height:250; color:#FFFFFF; font-size: 30px; background-color:#FD6156; border-radius: 10px;border:0px; text-decoration: none; padding: 10px;' %></h2>
</body>





