<h1><br>Welcome <%=current_renter.name.capitalize%>!</h1>

<body>
<h2><%= link_to "browse all", allpets_path, :class => "style_link"%><br>
<%= link_to "search by name", petslist_path, :class => "style_link" %></h2>
</body>





