<h1></h1>
<h2 style ="text-align: center;">Welcome, <%=current_renter.name%>!</h2>

<body>
<h2 style ="text-align: center;"><%= link_to "browse all", allpets_path, :class => "style_link"%><br>
<%= link_to "search by name", petslist_path, :class => "style_link" %></h2>
</body>





