<h1></h1>

<h2 style ="text-align: center;">Your booking has been canceled!</h2>
<h3 style ="text-align: center;"><%= link_to "back to browse", "/pets/index", :class => "style_link" %><br>

<br>
<br>

<%= link_to 'back to profile', profile_path, :class => "style_link"%> 