<h1></h1>

<h2 style ="text-align: center;">Your booking has been canceled!</h2>
<h3 style ="text-align: center;"><%= link_to "back to browse", "/pets/index", style: 'width:220px; height:250; color:#FFFFFF; font-size: 30px; background-color:#FD6156; border-radius: 10px;border:0px; text-decoration: none; padding: 10px;' %><br>